{% extends('base.html.twig') %}

{% block body %}
<div class="jumbotron">
	<h1 class="display-3">Bienvenue sur mon site</h1>
	<p class="lead">blablabla</p>
	<hr class="my-2">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam velit cum similique, autem unde
		soluta. Exercitationem veritatis optio ut non porro corrupti nesciunt sed hic atque labore, sunt assumenda!
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Bingo ! </a>
	</p>
</div>
{% endblock %}